<h1>Sign In</h1>

<%= form_with url: sessions_path do | form |%>
    <label>Name: </label>
    <%= form.text_field :name %>
    <br>

    <%= form.label :password %>
	<%= form.password_field :password %>
	<br>

	<%= form.submit value:"Sign In", class:"btn btn-secondary"%>

<% end %>
