<h1> <%= @exercise.name %> </h1>
<p> <%= @exercise.exercise_type %> </p>
<p> <%= @exercise.time %> </p>
<p> <%= @exercise.calories %> </p>
<p> <%= @exercise.instruction_link %> </p>
<p>  <%= link_to "Back to exercises", exercises_path %> </p>
