<!DOCTYPE html>
<html>
  <head>
    <title>Letslift</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">

    <%= link_to 'Viking Sign', new_session_path%> <%= link_to 'New Viking', new_viking_path %> 

    <% if session[:signed_in_viking_id] %>
    <%= button_to 'Viking Out', sessions_path, method: 'delete' %> 
    <% end %>

    <p>Welcome, <%= @logged_in_viking.name %></p>
    <%= yield %>
  </body>
</html>
